.password-toggle-button {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 999;
  }
  
  .password-toggle-button:focus {
    outline: none;
  }