<div class="modal-header">
    <h4 class="modal-title pull-left">Change password</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="changePasswordModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form #changePasswordForm="ngForm" (ngSubmit)="onChangePassword()">
        <div class="form-group mb-4">
            <label for="current">Current Password:</label>
            <div class="input-group">
                <input
                    type="{{ password.showCurrentPass ? 'text' : 'password' }}"
                    class="form-control"
                    required
                    id="currentPass"
                    [(ngModel)]="password.currentPass" 
                    #currentPass="ngModel"
                    name="currentPass"
                />
                <i class="fa password-toggle-button" (click)="password.showCurrentPass = !password.showCurrentPass" [ngClass]="!password.showCurrentPass ? 'fa-eye' : 'fa-eye-slash'" aria-hidden="true"></i>
            </div>
            <div *ngIf="(showValidationMessages$ | async) && currentPass.invalid" class="text-danger">
                Valid Current Password is required.
            </div>

            <div *ngIf="!(showCurrentPasswordNotMatch$ | async)" class="text-danger">
                Password not matched with current password.
            </div>
        </div>

        <div class="form-group mb-4">
            <label for="newPass">New Password:</label>
            <div class="input-group">
                <input
                    type="{{ password.showNewPass ? 'text' : 'password' }}"
                    class="form-control"
                    required
                    id="newPass"
                    [(ngModel)]="password.newPass" 
                    #newPass="ngModel"
                    name="newPass"
                />
                <i class="fa password-toggle-button" (click)="password.showNewPass = !password.showNewPass" [ngClass]="!password.showNewPass ? 'fa-eye' : 'fa-eye-slash'" aria-hidden="true"></i>
            </div>
            <div *ngIf="(showValidationMessages$ | async) && newPass.invalid" class="text-danger">
                Valid New Password is required.
            </div>
        </div>

        <div class="form-group mb-4">
            <label for="confirmPass">Confirm Password:</label>
            <div class="input-group">
                <input
                    type="{{ password.showConfirmPass ? 'text' : 'password' }}"
                    class="form-control"
                    required
                    id="confirmPass"
                    [(ngModel)]="password.confirmPass" 
                    #confirmPass="ngModel"
                    name="confirmPass"
                />
                <i class="fa password-toggle-button" (click)="password.showConfirmPass = !password.showConfirmPass" [ngClass]="!password.showConfirmPass ? 'fa-eye' : 'fa-eye-slash'" aria-hidden="true"></i>
            </div>
            
            <div *ngIf="(showValidationMessages$ | async) && confirmPass.invalid" class="text-danger">
                Valid Cofirm Password is required.
            </div>
            <div *ngIf="(showValidationMessages$ | async) && confirmPass.value !== newPass.value" class="text-danger">
                Confirm password does not match with new password
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button form="rolesFormId" type="submit" class="btn btn-success" (click)="onChangePassword()">Submit</button>
    <button type="button" class="btn btn-danger" (click)="changePasswordModalRef.hide()">Cancel</button>
</div>